.message-list {
  width: 30%;
  background: white;
  display: flex;
  flex-direction: column;
}

.message-list-header {
  padding: var(--padding-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-list-header h2 {
  font-size: 20px;
}

.message-list-header p {
  font-weight: 500;
  color: var(--color-primary);
}

.message-empty-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.message-empty-list img {
  width: 120px;
  height: 120px;
}
