<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="home-container">
      <h1 class="heading">Social API 2.0</h1>
      <button class="bg-blue-400">View Your Posts</button>
      <button class="bg-yellow-400">View All Posts</button>
      <button class="bg-green-400">Create Post</button>
    </div>
  </body>
</html>
