.add-caption-modal {
  border-radius: var(--border-radius-lg);
  width: 60%;
  min-height: 400px;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: var(--shadow-deep);
  max-height: 500px;
}

.add-caption-modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-sm) var(--padding-md);
  width: 100%;
  box-shadow: var(--shadow-light);
}

.add-caption-modal .modal-header h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.add-caption-modal .modal-header span {
  color: var(--button-primary-color);
  cursor: pointer;
}

.add-caption-modal .modal-body {
  display: flex;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.media-preview-slideshow-container {
  flex: 1;
  box-shadow: var(--shadow-light);
}

.add-caption-modal .modal-body .add-caption-location-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.add-caption-location-section textarea {
  flex: 1;
  resize: none;
  padding: 0.5rem 1rem;
  background: transparent;
  color: inherit;
}

.location-input-container {
  position: relative;
  outline: none;
  border: none;
  border-radius: 0px;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-deep);
}

.location-input-container input {
  width: 100%;
  border-radius: 0px;
  outline: none;
  padding-right: 1rem;
  background: inherit;
  color: inherit;
}

.location-input-container .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .add-caption-modal {
    width: 96%;
  }
}
@media screen and (max-width: 480px) {
  .add-caption-modal {
    width: 95%;
  }
}
