:root {
  --background-color: black;
  --separator-color: rgb(38, 38, 38);
  --elevated-separator-color: rgb(54, 54, 54);
  --nav-narrow-width: 72px;
  --nav-medium-width: 244px;
  --nav-wide-width: 335px;
  --primary-text: rgb(245, 245, 245);
  --secondary-text: rgb(168, 168, 168);
  --button-color: rgb(0, 149, 246);
  --button-hover-color: rgb(224, 241, 255);
}

.app-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
}
