.auth-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-form-container {
  width: var(--container-width-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  padding: var(--padding-xl);
  padding-top: var(--padding-xxl);
  background-color: var(--color-white);
  border-radius: var(--border-radius-xl);
  margin: var(--margin-md) auto;
  position: relative;
  box-shadow: var(--shadow-strong);
}

.dark .auth-form-container {
  background: var(--card-bg-color);
}

.back-button {
  position: absolute;
  top: var(--position-offset-md);
  left: var(--position-offset-md);
  font-size: var(--font-size-xxl);
  background: transparent;
  cursor: pointer;
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
  color: inherit;
}

.back-button:hover {
  transform: scale(1.4);
  color: var(--button-primary-color);
}

.auth-form-container .logo-container {
  width: var(--container-width-lg-fixed);
  box-shadow: var(--shadow-subtle);
  border-radius: var(--border-radius-xl);
  padding: var(--padding-sm);
}
.light .auth-form-container .logo-container {
  border: 1px solid var(--color-light-gray);
  background: linear-gradient(
    to bottom,
    var(--color-white),
    var(--color-light-gray)
  );
}

.dark .auth-form-container .logo-container {
  background: linear-gradient(
    to bottom,
    var(--color-dark-gray),
    var(--color-almost-black)
  );
}

.logo-container img {
  object-fit: cover;
  width: var(--container-width-full);
}

.auth-form-container .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.subtitle {
  font-size: var(--font-size-xs);
  text-align: center;
  line-height: var(--line-height-sm);
}

.input-container {
  width: var(--container-width-full);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.icon-left,
.icon-right {
  width: var(--container-width-xs-fixed);
  position: absolute;
  z-index: 99;
  top: 28px;
  color: inherit;
  font-size: var(--font-size-xxl);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .icon-left,
.dark .icon-right {
  color: var(--color-medium-gray);
}

.icon-left {
  left: var(--position-offset-xs);
}

.icon-right {
  right: var(--position-offset-xs);
  cursor: pointer;
}

.icon-left.error,
.icon-right.error {
  color: var(--color-danger);
}

.input-label {
  font-size: var(--font-size-xs);
  color: var(--color-dark-gray);
  font-weight: var(--font-weight-semibold);
}

.dark .input-label {
  color: var(--color-medium-gray);
}

.input-label.error {
  color: var(--color-danger);
}

.input-field,
.input-field-with-icon-left,
.input-field-with-icon-right {
  width: var(--container-width-full);
  height: var(--height-md);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-subtle);
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
  background: transparent;
  color: inherit;
}

.light .input-field,
.light .input-field-with-icon-left,
.light .input-field-with-icon-right {
  border: 1px solid var(--color-light-gray);
}

.dark .input-field,
.dark .input-field-with-icon-left,
.dark .input-field-with-icon-right {
  border: 0;
}

.input-field {
  padding: 0 0 0 var(--padding-md);
}

.input-field-with-icon-left {
  padding: 0 0 0 var(--padding-xxl);
}

.input-field-with-icon-right {
  padding: 0 var(--padding-xxl) 0 var(--padding-md);
}

.input-field.error,
.input-field-with-icon-left.error,
.input-field-with-icon-right.error {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.input-field:focus,
.input-field-with-icon-left:focus,
.input-field-with-icon-right:focus {
  /* border: 1px solid transparent; */
  box-shadow: var(--shadow-strong);
}

.input-field.error::placeholder,
.input-field-with-icon-left.error::placeholder,
.input-field-with-icon-right.error::placeholder {
  color: var(--color-danger);
}

.error-message {
  font-weight: var(--font-weight-light);
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-danger);
}

.sign-in-button,
.sign-in-with-google,
.sign-in-with-github,
.register-next-button {
  width: var(--container-width-full);
  height: var(--height-md);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  box-shadow: var(--shadow-light);
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
}

.register-next-button.disabled {
  background: var(--button-primary-color-disabled);
}

.sign-in-button:active,
.sign-in-with-google:active,
.sign-in-with-github:active,
.register-next-button:active {
  transform: scale(var(--button-active-scale));
}

.sign-in-button,
.register-next-button {
  background: var(--button-primary-color);
  margin-top: var(--margin-md);
}

.sign-in-with-google,
.sign-in-with-github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}

.sign-in-with-google img,
.sign-in-with-github img {
  width: var(--gap-lg);
  height: var(--gap-lg);
}

.sign-in-with-google {
  background-color: #4285f4; /* Google Blue */
}

.sign-in-with-github {
  background-color: #333333; /* GitHub Dark Gray */
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
  text-decoration: underline;
}

.auth-form-footer-container {
  padding: var(--padding-md) var(--padding-xl);
  background-color: var(--color-white);
  width: var(--container-width-xs);
  text-align: center;
  border-radius: var(--border-radius-xl);
  margin: var(--margin-md) 0;
  box-shadow: var(--shadow-strong);
}

.dark .auth-form-footer-container {
  background: var(--card-bg-color);
}

.auth-form-footer-container a {
  color: var(--button-primary-color);
  cursor: pointer;
}

/* 1. button disabled */
/* 2. button loading */

.birthday-icon,
.mail-icon {
  width: var(--container-width-sm);
  object-fit: cover;
}

.date-picker-container {
  display: flex;
  gap: var(--gap-sm);
}

.date-picker-select {
  padding: var(--gap-xs);
  font-size: var(--font-size-md);
  border: 1px solid var(--color-medium-gray);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  background: transparent;
  color: inherit;
}

.dark .date-picker-select option {
  background: var(--card-bg-color);
}

.subtitle a {
  color: #115dfc;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .auth-form-container {
    width: 60%;
    min-width: 460px;
  }
  .toggle-theme {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .auth-form-container {
    width: 95%;
  }
}
