.bottom-navbar {
  display: none;
}

@media (max-width: 767px) {
  .bottom-navbar {
    height: 60px;
    color: var(--primary-text);
    background-color: var(--background-color);
    border-top: 1px solid var(--separator-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
