.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-images-container {
  transition: width 0.3s ease, height 0.3s ease, background-size 0.3s ease;
  overflow: hidden;
}

.crop-original {
  width: 100%;
  height: 100%;
}

.crop-original .carousel-image {
  background-size: contain;
}

.crop-1-1 {
  aspect-ratio: 1/1;
  height: 380px;
}

.crop-4-5 {
  aspect-ratio: 4/5;
  height: 380px;
}

.crop-16-9 {
  aspect-ratio: 16/9;
  height: 214px;
}

.crop-1-1 .carousel-image,
.crop-4-5 .carousel-image,
.crop-16-9 .carousel-image {
  background-size: cover;
}

.carousel-image {
  width: auto;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
}

.carousel-image.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 50%;
  transition: opacity 0.2s;
  border: none;
  color: white;
  font-size: 100%;
  cursor: pointer;
  z-index: 1;
  padding: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.carousel-indicator {
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--secondary-text);
  margin: 0 4px;
  transition: background-color 0.2s ease-in-out;
}

.carousel-icon.active {
  background-color: var(--button-color);
}
