.email-login-form-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 10px;
  border: 2px solid var(--elevated-separator-color);
  padding: 10px 30px;
  color: var(--text-color);
  gap: 10px;
  color: var(--primary-text);
}

.email-login-form h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  width: 100%;
}

.email-login-avatar-container {
  background-color: var(--button-color);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 10px auto;
}

.email-login-avatar-container .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 2px;
  object-fit: cover;
}

.email-login-form .btn-submit {
  width: 100%;
  background: var(--button-color);
  color: var(--background-color);
  border-radius: 40px;
  height: 45px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}

.bottom-text {
  text-align: center;
}

.bottom-link,
.bottom-span {
  text-decoration: none;
  color: var(--button-color);
  cursor: pointer;
}

@media (min-width: 525px) {
  .email-login-form {
    width: 420px;
  }
}
