.followers-container,
.following-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  gap: var(--gap-xs);
  overflow-y: auto;
  padding-bottom: var(--padding-xxl);
  &::-webkit-scrollbar {
    display: none;
  }
}

.loading-more-followers,
.loading-more-following {
  height: 2rem;
}

.search-followers-container,
.search-following-container {
  padding: var(--padding-sm) var(--padding-md);
  width: calc(100% - 1rem);
  margin: 0.5rem auto;
  border-radius: var(--border-radius-md);
  padding: var(--padding-xs) var(--padding-sm);
  background: var(--color-very-light-gray);
  box-shadow: var(--shadow-light);
  display: flex;
  align-items: center;
}

.search-followers,
.search-following {
  width: 100%;
  background: transparent;
  height: 1.5rem;
}

.clear-search {
  font-size: 1.5rem;
  transition: all 0.3s ease;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-medium-gray);
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--color-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
