.home {
  display: flex;
}

.feed {
  flex: 2;
}

.recommend-users {
  flex: 1;
  background: white;
  margin: 20px;
  height: fit-content;
  padding: var(--padding-sm) 0;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-strong);
}
