.image-preview-dialog-header {
  border-bottom: 1px solid var(--elevated-separator-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.image-preview-dialog-header svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.image-preview-dialog-header button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: var(--button-color);
}

.image-preview-dialog-content {
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.crop-button {
  left: 20px;
}

.zoom-button {
  left: 80px;
}

.media-gallery-button {
  right: 20px;
}

.crop-button,
.zoom-button,
.media-gallery-button {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 40px;
  height: 40px;
}

.crop-button svg,
.zoom-button svg,
.media-gallery-button svg {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  color: var(--primary-text);
}

@keyframes slideIn {
  from {
    transform: translateY(12px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
