.media-gallery-container {
  position: absolute;
  right: 10px;
  bottom: 60px;
  border-radius: 8px;
  background: rgba(26, 26, 26, 0.8);
  padding: 8px;
  display: flex;
  height: 118px;
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.18s linear, transform 0.09s ease-out;
}

.media-gallery-container.show {
  opacity: 1;
  transform: translateY(0);
}

.media-images-container {
  height: 94px;
  overflow-y: visible;
  max-width: 272px;
  display: flex;
  gap: 6px;
}

.media-image {
  width: 94px;
  height: 94px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-image-content {
  height: 94px;
  width: 188px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.delete-icon {
  border: rgba(0, 0, 0, 0.4);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(26, 26, 26, 0.8);
  transition: opacity 0.2s;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.delete-icon svg {
  width: 12px;
  height: 12px;
}

.delete-icon:hover {
  color: var(--secondary-text);
  opacity: 0.9;
}

.add-images-container {
  width: 40px;
  height: 40px;
  border: 2px solid var(--separator-color);
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-images-container svg {
  width: 22px;
  height: 22px;
  fill: rgb(168, 168, 168);
}
