.notification-item-skeleton-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  margin: 20px auto;
  background: transparent;
  padding: 16px 8px;
  margin: 20px auto;
  width: 100%;
}

.notification-item-skeleton {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--padding-sm) var(--padding-md);
  gap: var(--gap-md);
}

.notification-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.notification-post-image-skeleton {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-lg);
}
