.post-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-author-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-md);
  box-shadow: var(--shadow-light);
}

.post-author-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  color: black;
}

.post-author-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  background: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-strong);
}

.post-actions {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-light-gray);
  border-top: 1px solid var(--color-light-gray);
  padding: var(--padding-md) 0;
}

.post-action-icons {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-md);
}

.post-interactions-icon {
  display: flex;
  gap: 0.7rem;
}

.post-action-icons button {
  background: transparent;
}

.post-action-icons button:active i {
  color: var(--color-medium-gray);
  transform: scale(0.7);
}

.post-action-icons i {
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: var(--font-size-xxl);
}

.post-likes-count {
  font-size: var(--font-size-sm);
  padding: var(--padding-sm) var(--padding-md) 0 var(--padding-md);
  font-weight: var(--font-weight-semibold);
}

.post-createdAt {
  padding: 0 var(--padding-md);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  color: var(--color-medium-gray);
}

.add-comment-container {
  display: flex;
  padding: var(--padding-md);
  gap: 1rem;
}

.add-comment-container input {
  flex: 1;
}

.add-comment-btn {
  background: transparent;
  color: var(--button-primary-color);
  cursor: pointer;
}

.add-comment-btn.disabled {
  color: var(--button-primary-color-disabled);
}

.post-comments-container {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

.post-comment {
  display: flex;
  padding: var(--padding-md);
  gap: 1rem;
  align-items: start;
  &:hover {
    .menu-icon {
      display: block;
    }
  }
}

.post-comment-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  background: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-strong);
}

.post-comment-username {
  color: black;
}

.post-comment-text {
  flex: 1;
  font-size: var(--font-size-sm);
}

.post-comment-interaction {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: var(--font-weight-medium);
  color: var(--color-dark-gray);
  margin-top: var(--margin-sm);
}

.post-comment-interaction span {
  cursor: pointer;
}

.menu-icon {
  display: none;
}

.toggle-like-button {
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-like-button i {
  font-size: 1rem;
  transition: all 0.3s ease;
}

.toggle-like-button:active i {
  color: var(--color-medium-gray);
  transform: scale(0.6);
}

.filled-heart {
  color: red;
}

.toggle-like-button:active {
  color: var(--color-gray);
}

.view-replies-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.view-replies-button {
  background: transparent;
  margin-top: 0.5rem;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  &:hover {
    color: var(--color-primary);
  }
}

.reply-indicator {
  color: var(--button-primary-color);
  cursor: pointer;
}

.reply-indicator .cancel-reply {
  margin-left: 0.5rem;
  background: var(--color-medium-gray);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
