.post-comments-container {
  flex: 1;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.post-comment {
  display: flex;
  padding: var(--padding-md);
  gap: 1rem;
  align-items: start;
  &:hover {
    .menu-icon {
      display: block;
    }
  }
}

.post-comment-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  background: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-strong);
}

.post-comment-username {
  color: black;
}

.post-comment-text {
  flex: 1;
  font-size: var(--font-size-sm);
}

.post-comment-interaction {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: var(--font-weight-medium);
  color: var(--color-dark-gray);
  margin-top: var(--margin-sm);
}

.menu-icon {
  display: none;
}

.toggle-like-button {
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-like-button i {
  font-size: 1rem;
  transition: all 0.3s ease;
}

.toggle-like-button:active i {
  color: var(--color-medium-gray);
  transform: scale(0.6);
}

.filled-heart {
  color: red;
}

.toggle-like-button:active {
  color: var(--color-gray);
}
