.register-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  padding: 10px 30px;
  color: var(--primary-text);
  gap: 15px;
  border: 2px solid var(--elevated-separator-color);
  margin: auto;
  height: fit-content;
}

.register-form h1 {
  text-align: center;
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 500;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container input {
  width: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 16px;
  outline: none;
  padding: 8px 16px;
  color: var(--text-color);
}

.input-container .input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input-container .input-icon:hover {
  color: var(--button-color);
}

.input-container input:focus {
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.input-container input:focus {
  color: var(--button-color);
}

.register-form .btn-submit {
  width: 100%;
  background: var(--button-color);
  color: var(--background-color);
  border-radius: 40px;
  height: 45px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  border: none;
}

.profile-picture-container {
  background-color: var(--button-color);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.profile-picture-placeholder,
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 2px;
  object-fit: cover;
}

.bottom-text {
  text-align: center;
}

.bottom-link {
  text-decoration: none;
  color: var(--button-color);
  cursor: pointer;
}

@media (min-width: 525px) {
  .register-form {
    width: 420px;
  }
}
