.settings-modal {
  background: var(--color-white);
  border-radius: var(--border-radius-lg);
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-deep);
}

.dark .settings-modal {
  background: var(--card-bg-color);
}

.settings-modal .modal-header {
  display: flex;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-md);
  width: 100%;
  box-shadow: var(--shadow-light);
}

.settings-modal .modal-header h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.settings-modal .settings-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-sm) var(--padding-md);
}

.settings-modal .settings-item h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}

.settings-item input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-theme-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 90px;
  height: 35px;
  display: block;
  border-radius: 100px;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) inset,
    0px 18px 36px -18px rgba(0, 0, 0, 0.3) inset;
  background-color: transparent;
  transition: all 0.3s;
}

.switch-theme-label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

.settings-item input:checked + .switch-theme-label {
  background: transparent;
}

.settings-item input:checked + .switch-theme-label:after {
  left: calc(100% - 5px);
  transform: translate(-100%, -50%);
}

.switch-theme-label:active:after {
  width: 48px;
}

@media screen and (max-width: 480px) {
  .settings-modal {
    width: 95%;
  }
}
