.settings-modal {
  background: var(--color-white);
  border-radius: var(--border-radius-lg);
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-deep);
}

.dark .settings-modal {
  background: var(--charcoal-color);
}

.settings-modal .modal-header {
  display: flex;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-md);
  width: 100%;
  box-shadow: var(--shadow-light);
}

.settings-modal .modal-header h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.settings-modal .settings-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-sm) var(--padding-md);
}

.settings-modal .settings-item h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  /* text-indent: -9999px; */
  width: 200px;
  height: 100px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

@media screen and (max-width: 480px) {
  .settings-modal {
    width: 95%;
  }
}
