.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid var(--separator-color);
  width: var(--nav-narrow-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  padding: 8px 12px 20px 12px;
  color: var(--primary-text);
}

.sidebar h1 {
  font-family: "Indie Flower", cursive;
  padding: 12px;
  margin-bottom: 20px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.sidebar-link {
  display: flex;
  padding: 12px;
  align-items: center;
  transition: all 0.3s;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.sidebar-link svg {
  width: 24px;
  height: 24px;
}

.sidebar-link p {
  padding-left: 16px;
  font-size: 16px;
}

.placeholder {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  background-color: white;
}

.sidebar-icon {
  display: none;
}

@media (min-width: 1920px) {
  .sidebar {
    width: var(--nav-wide-width);
  }
}

@media (min-width: 1264px) and (max-width: 1919px) {
  .sidebar {
    width: var(--nav-medium-width);
  }
}

@media (max-width: 1263px) {
  .sidebar-link p {
    display: none;
  }

  .sidebar h1 {
    display: none;
  }

  .sidebar-icon {
    display: flex;
    padding: 12px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
