.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-white);
}

.splash-screen .logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: var(--container-width-xl-fixed);
  object-fit: cover;
}

.footer {
  padding-bottom: var(--padding-lg);
  color: var(--color-gray);
  font-size: var(--font-size-xxl);
}

.footer strong {
  font-weight: var(--font-weight-semibold);
}

.footer a {
  cursor: pointer;
  color: var(--color-primary);
}
