.story-bar {
  color: var(--primary-text);
  display: flex;
  gap: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 8px;
  margin-bottom: 24px;
  height: 85px;
  scrollbar-width: none;
  width: 100%;
  padding: 0 8px;
}

.story-bar::-webkit-scrollbar {
  display: none;
}

.story-bar {
  -ms-overflow-style: none;
}

.story-image {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0),
    linear-gradient(to top right, orange, deeppink);
  padding: 2px;
}

.story-image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 1px;
  background: black;
}

.story-text {
  max-width: 74px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
