.user-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--padding-sm) 0;
}

.user-item-nav {
  flex: 1;
  display: flex;
}

.user-item-nav .avatar {
  width: var(--container-width-sm-fixed);
  aspect-ratio: 1/1;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-full);
  box-shadow: var(--shadow-strong);
  object-fit: cover;
  color: var(--color-white);
}

.user-item-nav .user-info {
  flex: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 0 var(--margin-md);
  justify-content: center;
}

.light .user-item-nav .user-info {
  color: var(--color-black);
}

.dark .user-item-nav .user-info {
  color: var(--color-white);
}

.user-item-nav .user-info .username {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
}

.user-item-nav .user-info .user-fullName {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
}

.user-item .following-button,
.user-item .follow-button {
  color: var(--color-white);
  background-color: var(--color-primary);
  height: fit-content;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  box-shadow: var(--shadow-strong);
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
}

.user-item .following-button {
  background: transparent;
  color: var(--color-primary);
  font-weight: var(--font-weight-semibold);
  border: 1px solid var(--color-primary);
}

.user-item .following-button:active,
.user-item .follow-button:active {
  transform: scale(var(--button-active-scale));
}
