.start-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.start-chat img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: var(--shadow-strong);
}

.start-chat p {
  color: var(--color-medium-gray);
}
