.search-page {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

@media screen and (min-width: 1200px) {
  .search-page {
    grid-template-columns: 2fr 1fr;
  }
  .recommend-users {
    display: block;
  }
}
