.auth-form-container .user-avatar {
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  border-radius: 50%;
  object-fit: cover;
  background: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-strong);
}

.change-password-button {
  width: var(--container-width-full);
  height: var(--height-md);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  box-shadow: var(--shadow-light);
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
  background: var(--button-primary-color);
  margin-top: var(--margin-md);
}

.change-password-button:active {
  transform: scale(var(--button-active-scale));
}
