.auth-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-form-container {
  width: var(--container-width-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  padding: var(--padding-xl);
  padding-top: var(--padding-xxl);
  background-color: var(--color-white);
  border-radius: var(--border-radius-xl);
  margin: var(--margin-md) auto;
  position: relative;
  box-shadow: var(--shadow-strong);
}

.auth-form-container .password-logo {
  background: yellow;
  width: 200px;
}

.password-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-button {
  position: absolute;
  top: var(--position-offset-md);
  left: var(--position-offset-md);
  font-size: var(--font-size-xxl);
  background: transparent;
  cursor: pointer;
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
  color: inherit;
}

.back-button:hover {
  transform: scale(1.4);
  color: var(--button-primary-color);
}

.auth-form-container .logo-container {
  width: var(--container-width-lg-fixed);
  box-shadow: var(--shadow-subtle);
  border-radius: var(--border-radius-xl);
  padding: var(--padding-sm);
  border: 1px solid var(--color-light-gray);
  background: linear-gradient(
    to bottom,
    var(--color-white),
    var(--color-light-gray)
  );
}

.logo-container img {
  object-fit: cover;
  width: var(--container-width-full);
}

.auth-form-container .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.title-dialog {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  padding: 1rem;
  border-radius: 0.375rem;
  text-align: center;
}

.title-dialog a {
  color: var(--button-primary-color);
}

.title-dialog span {
  font-weight: 600;
}

.subtitle {
  font-size: var(--font-size-xs);
  text-align: center;
  line-height: var(--line-height-sm);
}

.otp-digits {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.otp-digit {
  flex: 1;
  width: 20%;
  height: 2.4rem;
  padding: 0.75rem;
  border-radius: 0.2rem;
  border: 1px solid var(--color-light-gray);
  box-shadow: var(--shadow-light);
  transition: all 0.3s ease;
  text-align: center;
  &:focus {
    border: 1px solid black;
    outline: 2px solid transparent;
    box-shadow: var(--shadow-strong);
  }
}

.otp-digit.error {
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
}

.otp-digit.valid {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.otp-digit.delay-1 {
  transition-delay: 0s;
}

.otp-digit.delay-2 {
  transition-delay: 0.3s;
}

.otp-digit.delay-3 {
  transition-delay: 0.4s;
}

.otp-digit.delay-4 {
  transition-delay: 0.5s;
}

.otp-digit.delay-5 {
  transition-delay: 0.6s;
}

.otp-digit.delay-6 {
  transition-delay: 0.7s;
}

.input-container {
  width: var(--container-width-full);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.icon-left,
.icon-right {
  width: var(--container-width-xs-fixed);
  position: absolute;
  z-index: 99;
  top: 28px;
  color: inherit;
  font-size: var(--font-size-xxl);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-left {
  left: var(--position-offset-xs);
}

.icon-right {
  right: var(--position-offset-xs);
  cursor: pointer;
}

.icon-left.error,
.icon-right.error {
  color: var(--color-danger);
}

.input-label {
  font-size: var(--font-size-xs);
  color: var(--color-dark-gray);
  font-weight: var(--font-weight-semibold);
}

.input-label.error {
  color: var(--color-danger);
}

.input-field,
.input-field-with-icon-left,
.input-field-with-icon-right {
  width: var(--container-width-full);
  height: var(--height-md);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-subtle);
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
  background: transparent;
  color: inherit;
  border: 1px solid var(--color-light-gray);
  transition: all 0.2s ease-in;
  &:focus {
    border: 1px solid black;
    color: black;
  }
}

.input-field {
  padding: 0 0 0 var(--padding-md);
}

.input-field-with-icon-left {
  padding: 0 0 0 var(--padding-xxl);
}

.input-field-with-icon-right {
  padding: 0 var(--padding-xxl) 0 var(--padding-md);
}

.input-field.error,
.input-field-with-icon-left.error,
.input-field-with-icon-right.error {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.input-field:focus,
.input-field-with-icon-left:focus,
.input-field-with-icon-right:focus {
  /* border: 1px solid transparent; */
  box-shadow: var(--shadow-strong);
}

.input-field.error::placeholder,
.input-field-with-icon-left.error::placeholder,
.input-field-with-icon-right.error::placeholder {
  color: var(--color-danger);
}

.error-message {
  font-weight: var(--font-weight-light);
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-danger);
}

.sign-in-button,
.sign-in-with-google,
.sign-in-with-github,
.register-next-button,
.send-otp-button {
  width: var(--container-width-full);
  height: var(--height-md);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  box-shadow: var(--shadow-light);
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
}

.register-next-button.disabled {
  background: var(--button-primary-color-disabled);
}

.sign-in-button:active,
.sign-in-with-google:active,
.sign-in-with-github:active,
.register-next-button:active,
.send-otp-button:active {
  transform: scale(var(--button-active-scale));
}

.sign-in-button,
.register-next-button,
.send-otp-button {
  background: var(--button-primary-color);
  margin-top: var(--margin-md);
}

.sign-in-with-google,
.sign-in-with-github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}

.sign-in-with-google img,
.sign-in-with-github img {
  width: var(--gap-lg);
  height: var(--gap-lg);
}

.sign-in-with-google {
  background-color: #4285f4;
}

.sign-in-with-github {
  background-color: #333333;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.auth-form-footer-container {
  padding: var(--padding-md) var(--padding-xl);
  background-color: var(--color-white);
  width: var(--container-width-xs);
  text-align: center;
  border-radius: var(--border-radius-xl);
  margin: var(--margin-md) 0;
  box-shadow: var(--shadow-strong);
}

.auth-form-footer-container a {
  color: var(--button-primary-color);
  cursor: pointer;
}

.birthday-icon,
.mail-icon {
  width: var(--container-width-sm);
  object-fit: cover;
}

.date-picker-container {
  display: flex;
  gap: var(--gap-sm);
}

.date-picker-select {
  padding: var(--gap-xs);
  font-size: var(--font-size-md);
  border: 1px solid var(--color-medium-gray);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  background: transparent;
  color: inherit;
}

.dark .date-picker-select option {
  background: var(--card-bg-color);
}

.subtitle a {
  color: #115dfc;
  text-decoration: none;
}

.password-validation-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  align-self: flex-start;
}

.password-validation-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}

.icon {
  width: 1rem;
  height: auto;
}

.icon-success,
.text-success {
  color: var(--color-green);
}

.icon-error,
.text-error {
  color: var(--color-danger);
}

.error-message {
  font-size: 1rem;
  font-weight: 500;
}

.reset-password-link {
  color: var(--button-primary-color);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .auth-form-container {
    width: 60%;
    min-width: 460px;
  }
  .toggle-theme {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .auth-form-container {
    width: 95%;
  }
}
