.followers-following-modal {
  border-radius: var(--border-radius-lg);
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-strong);
  overflow: hidden;
  background: white;
}

.light .followers-following-modal {
  background: var(--color-white);
}

.dark .followers-following-modal {
  background: var(--card-bg-color);
}

.followers-following-modal .modal-header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: var(--shadow-light);
}

.followers-following-modal .modal-header .nav-link {
  padding: var(--padding-sm) 0;
  width: 100%;
  text-align: center;
  transition: all var(--transition-duration-normal)
    var(--transition-timing-bounce);
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.light .followers-following-modal .modal-header .nav-link {
  color: var(--color-dark-gray);
}

.dark .followers-following-modal .modal-header .nav-link {
  color: var(--color-light-gray);
}

.followers-following-modal .modal-header .nav-link.active {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.followers-following-modal .modal-body {
  width: 100%;
  height: 100%;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .followers-following-modal {
    width: 95%;
  }
}
