.post-caption {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  padding: var(--padding-sm) var(--padding-md);
}

.post-caption .avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-full);
  box-shadow: var(--shadow-strong);
  object-fit: cover;
  color: var(--color-white);
}

.post-caption-content {
  font-size: var(--font-size-sm);
}

.post-caption-content .username {
  color: black;
}
